@charset "utf-8";
li{
  padding: 5px;
}
a{
  color: #4a95b3;
  text-decoration:none;
  font-style: italic;
}
.a-footer{
  color: #000000;
}
img{
  /*box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit*/
  box-shadow: 3px 3px 10px 2px #999999 ;
}
.title{
  font: 24px Arial;
  color: #211597;
  position: absolute;
  top: 400px;
  left: 30px;
}
.slide-title{
  font: 30px Arial;
  color: #211597;
  position: absolute;
  top: 30px;
  left: 30px;
}
.slide-content{
  position: absolute;
  top: 80px;
  left: 30px;
  font: 24px Arial;
}
.subtitle{
  font: 14px Arial;
  color: #888888;
  position: absolute;
  top: 450px;
  left: 30px;
  text-decoration:none;
  font-style: italic;
}
.title-logo{
  position: absolute;
  top: 30px;
  left: 320px;
  width: 500px;
  box-shadow: none;
}
.footer-left{
  position: absolute;
  top: 525px;
  left: 30px;
}
.footer-center{
  position: absolute;
  top: 540px;
  left: 350px;
  font: 16px Arial;
}
.footer-right{
  position: absolute;
  top: 540px;
  left: 590px;
}
.cc-region-partner{
  width:175px;
  box-shadow:none;
}
.ace-net-logo-footer{
  width:150px;
  box-shadow:none;
}
.pageoutline{
  border: 1px solid #888888;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
  position: relative;
}
.nav-link-prev{
  position: absolute;
  top: 620px;
  left: 30px;
}
.nav-link-prev-empty{
  position: absolute;
  top: 620px;
  left: 30px;
  color: #999999;
  font-style: italic;
}

.nav-link-next{
  position: absolute;
  top: 620px;
  left: 730px;
}
.nav-link-home{
  position: absolute;
  top: 620px;
  left: 380px;
}
.nav-link-next-empty{
  position: absolute;
  top: 620px;
  left: 730px;
  color: #CCCCCC;
  font-style: italic;
}