<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  {% include head.html %}
  
  {% if page.prevslide %}
    {% assign previousURL= page.prevslide|append: ".html" %}
  {% else %}
    {% assign previousURL='' %}
  {%endif%}
  {% if page.nextslide %}
    {% assign nextURL= page.nextslide|append: ".html" %}
  {% else %}
    {% assign nextURL='' %}
  {%endif%}
  
  <body onload="setup('{{ previousURL }}','{{ nextURL }}')">
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="pageoutline">
          {{ content }}
          
          {%if page.prevslide %}
          <a class="nav-link-prev" href="{{ page.prevslide }}.html">prev</a>
          {% else %}
          <div class="nav-link-prev-empty" >prev</div>
          {% endif %}
          <a class="nav-link-home" href="../">start</a>
          {%if page.nextslide %}
          <a class="nav-link-next" href="{{ page.nextslide }}.html">next</a>
          {% else %}
          <div class="nav-link-next-empty" >next</div>
          {% endif %}
        </div>
      </div>
    </main>
  </body>
  
</html>
