<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  {%- include head.html -%}
  
  <body>
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="pageoutline">
          {{ content }}
          {%if page.prevslide %}
          <a class="nav-link-prev" href="{{ site.baseurl }}/slides/{{ page.prevslide }}.html">prev</a>
          {% else %}
          <div class="nav-link-prev-empty" >prev</div>
          {% endif %}
          {%if page.nextslide %}
          <a class="nav-link-next" href="{{ site.baseurl }}/slides/{{ page.nextslide }}.html">next</a>
          {% else %}
          <div class="nav-link-next-empty" >next</div>
          {% endif %}
        </div>
      </div>
    </main>
  </body>
  
</html>
