<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  {%- include head.html -%}
  
  {% if page.prevslide %}
    {% assign previousURL= site.url|append: 'slides/'|append: page.prevslide|append: ".html" %}
  {% else %}
    {% assign previousURL='' %}
  {%endif%}
  {% if page.nextslide %}
    {% assign nextURL= site.url|append: 'slides/'|append: page.nextslide|append: ".html" %}
  {% else %}
    {% assign nextURL='' %}
  {%endif%}
  
  <body onload="setup('{{ previousURL }}','{{ nextURL }}')">
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="pageoutline">
          {{ content }}
          
          begin debug output<br/>
          basepath={{ basepath }}<br/>
          site.url={{ site.url }}<br/>
          site.github.hostname={{ site.github.hostname }}<br/>
          site.github.url={{ site.github.url }}<br/>
          site.github.baseurl={{ site.github.baseurl }}<br/>
          end debug output<br/>
          
          {%if page.prevslide %}
          <a class="nav-link-prev" href="slides/{{ page.prevslide }}.html">prev</a>
          {% else %}
          <div class="nav-link-prev-empty" >prev</div>
          {% endif %}
          <a class="nav-link-home" href="{{ site.url }}">start</a>
          {%if page.nextslide %}
          <a class="nav-link-next" href="slides/{{ page.nextslide }}.html">next</a>
          {% else %}
          <div class="nav-link-next-empty" >next</div>
          {% endif %}
        </div>
      </div>
    </main>
  </body>
  
</html>
